# ─── Discord ────────────────────────────────────────────────────────────────
DISCORD_TOKEN=botToken
CLIENT_ID=clientID
GUILD_ID=guildID

# ─── Supabase ───────────────────────────────────────────────────────────────
SUPABASE_URL=supabaseURL
SUPABASE_PUBLISHABLE_KEY=publishableKey
SUPABASE_SECRET_KEY=secretKey
SUPABASE_JWKS_URL=jwjksURL

# ─── Channels ───────────────────────────────────────────────────────────────
LOG_CHANNEL_ID=modlog_channelID
